# Ignore Play! working directory #
bin
db
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.DS_Store
*.iml
*.eml
# Ignoring all hidden files doesn't work the way I thought it worked
dist
.cache

# Eclipse stuff
*.metadata
*.settings
*.classpath
*.project

# Grails stuff
*target-eclipse
*c.tld
*fmt.tld
