# Ignore Play! working directory #
bin
db
eclipse
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.DS_Store
*.iml
*.eml
# Ignoring all hidden files doesn't work the way I thought it worked
dist
.cache

# Eclipse stuff
*.metadata
*.settings

# Grails stuff
*target-eclipse
*c.tld
*fmt.tld

# Temporary files
*~
*.bak
