body {
	background-color: #FFFFFF;
}

#main-container {
	
	width: 100%;
	padding-top: 25px;
	position: fixed;
	float: center;
}

#empty {
	margin-top: 45px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#sign-up {
	width: 100%;
	background-color: #F7F7F7;
	float: center;
	margin-top: 35px;

}

label {
	float: left;
}

